<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Receiver Name</label><br>
      <input type="text" class="form-control" (input)="onChangeName($event.target.value)" >
    </div>
    <div class="col">
      <label > Receiver Name</label><br>
      {{reciverName | titlecase}}
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label><br>
      <input type="date" class="form-control" (input)="onChangeDate($event.target.value)" >
    </div>
    <div class="col">
      <label > Payment Date </label><br>
      {{dateInput | date:'longDate'}}
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment</label><br>
      <input type="text" class="form-control" (input)="onChangeAmount($event.target.value)" >
    </div>
    <div class="col">
      <label > Payment </label><br>
      {{AmountInput | currency }}
    </div>
  </div>


  <div class="row">
    <div class="form-group col">
      <label>Mile</label><br>
      <input type="text" class="form-control" (input)="onChangeMile($event.target.value)" >
    </div>
    <div class="col">
      <label >KM</label>
      {{MileInput | convert: 'km' }}
      <label>M</label>
      {{MileInput | convert: 'm' }}
      <label >CM</label>
      {{MileInput | convert: 'cm' }}
    </div>
  </div>
</div>
